vendor
*.docx

!default/app/temp/documentos/recibos/ReciboPlantillas.docx
!default/app/temp/documentos/arrendamiento/ArrendamientoPlantilla.docx

default/public/index.php

# Mac filesystem dust
.DS_Store



# Vagrant
.vagrant

# Sonarlint
.sonarlint

#### Editors:

# Netbeans
/nbproject

# Visual Studio Code
.vscode

# Intellij
.idea

#sonar
.sonar
.scannerwork
sonar-project.properties
composer.lock